<div class="div-color">
  <h1>Edit booking</h1>
  <%= form_for @booking do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title ,:class => 'form-control'%>
  </div>
    <%= f.submit "Edit booking", :class => "btn btn-info" %>
  <% end %>
</div>
