
<h1><%= @booking.lesson.title %></h1>
<h2><%= @booking.lesson.date %></h2>
<h2><%= @booking.lesson.time %></h2>
<h2><%= @booking.lesson.location %></h2>
<iframe width='50%' height='300px' src="https://api.mapbox.com/styles/v1/alexhappylucky/ckv7f9a3a8jx914o3vnrwyqlu.html?title=false&access_token=pk.eyJ1IjoiYWxleGhhcHB5bHVja3kiLCJhIjoiY2t2N2Y2MnFjMW9xZTJucDY4bGRnMHZwbyJ9.rQR2wnOUTCzRt9oI7CstQA&zoomwheel=false#9/37.78/-122.4241" title="Streets" style="border:none;"></iframe>
