<div class="div-color div-margin">
<h1>Hello
<% if @current_user.name.present?%>
  <%= @current_user.name %>!</h1>
<% end %>
  <p>"It's not about being good at something. It's about being good to yourself."</p>

  <img src="https://happier1.imgix.net/img/blog/20150422-Yoga_10.jpg?w=700" class="img-fluid" alt="picture">
</div>
